@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-body bg-gray-50 text-gray-900 antialiased;
  }
  h1, h2, h3, h4, h5 {
    @apply font-display;
  }
}

@layer components {
  /* Scrollbar */
  ::-webkit-scrollbar        { width: 5px; height: 5px; }
  ::-webkit-scrollbar-track  { @apply bg-gray-100; }
  ::-webkit-scrollbar-thumb  { @apply bg-brand-600 rounded-full; }

  /* Hide scrollbar but keep scroll */
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .scrollbar-hide::-webkit-scrollbar { display: none; }
}
